.hello-world-banner {
    height: 100px;
    width: 100%;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: 2em;
    color: yellow;
}
